
<% content_for :table do %>
  <thead>
    <tr>
      <th>Gênero</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td>
          <%= link_to genre_path genre do %>
            <%= render 'partials/details_button' %>
          <% end %>

          <%= link_to edit_genre_path genre do %>
            <%= render 'partials/edit_button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Gênero</th>
      <th>Ações</th>
    </tr>
  </tfoot>
<% end %>

<%=
  render partial: 'partials/listing_content',
  :locals => {
    :collection_name => 'Gêneros',
    :new_collection_item_path => new_genre_path
  }
%>
