
<div class="d-flex flex-column gap-5">
  <div class="row">
    <div class="col d-flex flex-column gap-3">
      <div class="d-flex flex-column">
        <%= form.label 'Título:', class: 'form-label' %>
        <%= form.text_field :title, placeholder: 'Título', class: 'form-control' %>
      </div>

      <div class="d-flex flex-column">
        <%= form.label 'Gênero:', class: 'form-label' %>
        <%= select_tag :genre_id, options_for_select(@genres, movie ? movie.genre_id : 0), class: 'form-control' %>
      </div>

      <div class="d-flex flex-column">
        <%= form.label 'Duração:', class: 'form-label' %>
        <%= form.number_field :length, min: 1, class: 'form-control' %>
      </div>

      <div class="d-flex flex-column">
        <%= form.label 'Sinopse:', class: 'form-label' %>
        <%= form.text_area :synopsis, class: 'form-control' %>
      </div>

      <div class="d-flex flex-column">
        <%= form.label 'Ano de Lançamento:', class: 'form-label' %>
        <%= form.number_field :release_year, min: 0, class: 'form-control' %>
      </div>

      <div class="d-flex gap-3">
        <div class="form-check-reverse form-switch">
          <%= form.label 'Já foi lançado?', class: 'form-label', for: 'has-been-released' %>
          <%= form.check_box :has_been_released, class: 'form-check-input', role: 'switch', id: 'has-been-released' %>
        </div>
      </div>

      <div class="d-flex flex-column">
        <%= form.label 'Diretor:', class: 'form-label' %>
        <%= select_tag :director_id, options_for_select(@directors, movie ? movie.director_id : 0), class: 'form-control' %>
      </div>

      <div class="d-flex flex-column">
        <%= form.label 'País de Origem:', class: 'form-label' %>
        <%= select_tag :origin_country_id, options_for_select(@countries, movie ? movie.origin_country_id : 0), class: 'form-control' %>
      </div>
    </div>

    <div class="col">
      <div class="d-flex flex-column justify-content-center">
        <%= form.label 'Poster', class: 'form-label text-center' %>

        <div class="mx-auto">
          <label for="poster-selection" class="form-label poster-image-selection">
            <% if movie.nil? or not movie.poster.attached? %>
              <img id="image-preview"/>

              <span id="image-preview-fallback">
                Selecione uma imagem para o Poster
              </span>
            <% else %>
              <%= image_tag url_for(movie.poster), id: 'image-preview' %>
            <% end %>
          </label>
        </div>

        <%= form.file_field :poster, class: 'invisible', id: 'poster-selection', accept: 'image/*' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.submit submit_button_text, class: 'btn btn-primary form-control' %>
    </div>
  </div>
</div>

<style>
  .poster-image-selection {
    border: 1px dotted var(--bs-dark-border-subtle);
    border-radius: 10px;
    cursor: pointer;
    padding: 50px;
  }

  .poster-image-selection img {
    max-height: 60vh;
    max-width: 35vw;
  }
</style>

<script>
  document
    .getElementById('poster-selection')
    .addEventListener('change', function(event) {
      const { target } = event
      const { files } = target

      if (!files.length) return

      document.getElementById('image-preview').src = URL.createObjectURL(files[0])
      document.getElementById('image-preview-fallback')?.remove()
    })
</script>
