
<% content_for :table do %>
  <thead>
    <tr>
      <th>Título</th>
      <th>Ano</th>
      <th>Lançado?</th>
      <th>Pôster</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="text-start"><%= movie.title %></td>
        <td><%= movie.release_year %></td>
        <td><%= movie.has_been_released ? 'Sim' : 'Não' %></td>
        <td>
          <% if movie.poster.attached? %>
            <img src="<%= url_for(movie.poster.variant(:thumb)) %>"/>
          <% else %>
            Sem Pôster Anexado
          <% end %>
        </td>
        <td>
          <%= link_to movie_path movie do %>
            <%= render 'partials/details_button' %>
          <% end %>

          <%= link_to edit_movie_path movie do %>
            <%= render 'partials/edit_button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Título</th>
      <th>Ano</th>
      <th>Lançado?</th>
      <th>Pôster</th>
      <th>Ações</th>
    </tr>
  </tfoot>
<% end %>


<%=
  render partial: 'partials/listing_content',
  :locals => {
    :collection_name => 'Filmes',
    :new_collection_item_path => new_movie_path
  }
%>
